body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: blanchedalmond;
}

.scores {
    text-align: center;
    border-radius: 15px;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}